In [212]:
def normstr(cont):
    return re.sub('[^a-zA-Z0-9\-\_]', '', cont).lower()

In [235]:
import json
with open('EventViewer-Notebook/pool.json', 'r') as f:
    pool = json.load(f)

In [236]:
import pandas as pd
df = pd.read_excel('EventViewer-Notebook/excels/sample.xls', skiprows=1)
df = df.fillna('')

for col in df.columns:
    if 'Unnamed' in col:
        df.rename(columns={col: normstr(pcol)+"_"+normstr(str(df.iloc[0][col]))}, inplace=True)
    else:
        df.rename(columns={col: normstr(col)+"_"+normstr(str(df.iloc[0][col]))}, inplace=True)
        pcol = col
df = df.iloc[1:]

In [237]:
import re

assocr = []
assoce = []

for group in pool:
    for item in (pool[group]):
        if item['Type'] == "Range":
            con = normstr(group + '_' + item['On'])
            coff = normstr(group + '_' + item['Off'])
            if con in df.columns and coff in df.columns:
                assocr.append({
                    'Name' : item['Name'],
                    'On' : con,
                    'Off' : coff,
                    'Kind' : item['Kind']
                })
        if item['Type'] == "Event":
            evt = normstr(group + '_' + item['Event'])
            if evt in df.columns:
                assoce.append({
                    'Name' : item['Name'],
                    'Event' : evt,
                    'Kind' : item['Kind']
                })

In [238]:
assocr

[{'Name': 'SysA',
  'On': 'div1_sysaon',
  'Off': 'div1_sysaoff',
  'Kind': 'GroupA'},
 {'Name': 'SysA',
  'On': 'div2_sysaon',
  'Off': 'div2_sysaoff',
  'Kind': 'GroupB'}]

In [239]:
assoce

[{'Name': 'SysA', 'Event': 'div2_sysaact', 'Kind': 'GroupB'}]

In [227]:
df

,zeitz_,zeitz_ft,div1_sysaon,div1_sysaoff,div2_sysaon,div2_sysaoff,div2_sysaact
1,12:30:00,300,x,,,,
2,12:32:00,400,,x,,,
3,12:40:00,500,,,x,,
4,12:42:00,600,,,,x,x